[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
masonite-cli = "*"
psycopg2-binary = "*"
libsass = "*"
masonite = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.7"
