<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono"
      rel="stylesheet"
      type="text/css">
<link href="{{ mix('/css/app.css') }}" rel="stylesheet" type="text/css">

<title>{% block title %}
    Zuhanden
{% endblock %}</title>

<meta name="csrf-token" content="{{ csrf_token }}">
<script>
    window.State = {{ state | safe }}
</script>
</head>
<body class="pb-12 border-t-4 border-blue-400 bg-gray-100">


<div id="app">

<header>
    <navigation-bar
            :show-user-actions="{{ "false" if hide_user_actions else "true" }}"
    >

    </navigation-bar>
</header>

<div class="container mx-auto p-6">
    {% include '_flash.html' %}
</div>


<main role="main" class="container mx-auto pt-12">
    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
</main>


<flash initial-message=""
       initial-level="{{ 'success' }}"
       :initial-duration="3"
></flash>

</div>


<!-- JavaScript -->
<script src="{{ mix('/js/manifest.js') }}"></script>
<script src="{{ mix('/js/vendor.js') }}"></script>
<script src="{{ mix('/js/app.js') }}"></script>

</body>
</html>
