{% extends "layout.html" %}

{% block content %}

    <h1 class="text-4xl text-center">Password Reset</h1>

    <div class="container w-full mt-8">
        <form
                class="max-w-sm mx-auto bg-white rounded-lg shadow-lg p-8"
                method="POST"
                action="/users/reset-password"
        >
            {{ csrf_field }}
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label
                            class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
                            for="grid-password-reset-email"
                    >
                        Email
                    </label>
                    <input
                            id="grid-password-reset-email"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            type="email"
                            name="email"
                            placeholder="your@email.com"
                    >
                </div>
            </div>
            <div class="flex flex-wrap">
                <button
                        class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                >
                    Send Me A Reset Password Email
                </button>
            </div>
        </form>
    </div>

{% endblock content %}
