<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono"
      rel="stylesheet"
      type="text/css">
<link href="{{ mix('/css/app.css') }}" rel="stylesheet" type="text/css">

<title>{% block title %}
    Zuhanden
{% endblock %}</title>

<meta name="csrf-token" content="{{ csrf_token }}">
<script>
    window.State = {user: {loggedIn: false}}
</script>
</head>
<body class="pb-12 border-t-4 border-blue-700 bg-gray-100">


<div id="app">


<header>
    <navigation-bar :logged-in="false"></navigation-bar>
</header>

{% if session().has('success') %}

    <div class="alert alert-success">
        {{ session().get('success') }}
    </div>

{% elif session().has('warning') %}

    <div class="alert alert-warning">
        {{ session().get('warning') }}
    </div>

{% elif session().has('danger') %}

    <div class="alert alert-danger">
        {{ session().get('danger') }}
    </div>

{% endif %}

<main role="main" class="container mx-auto pt-12">
    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
</main>


<flash initial-message=""
       initial-level="{{ 'success' }}"
       :initial-duration="3"
></flash>

</div>


<!-- JavaScript -->
<script src="{{ mix('/js/manifest.js') }}"></script>
<script src="{{ mix('/js/vendor.js') }}"></script>
<script src="{{ mix('/js/app.js') }}"></script>

</body>
</html>
